{% extends 'layout/base.html' %}

{% block 'title' %} Crear contacto{% endblock  %}

{% block 'styles' %}{% load static %} <link  href="{% static 'css/forms.css' %}" rel="stylesheet"> {% endblock  %}

{% block 'content' %}

<span class="aux-btns-form"><a href="{% url 'contact' %}">Volver atras</a></span>
<form action="{% url 'create' %}" method="POST">
    {% csrf_token %}
    <table>
    {{form.as_table}}
    </table>
    <div class="btn-wrapper">
    <input type="submit" value="Enviar" class="btn-send">
    </div>
</form>
{% endblock  %}